{
    "env": {
        "es6": true,
        "node": true,
        "browser": false
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "extends": "airbnb-base",
    "rules": {
        "indent": [1, 4],
        "import/prefer-default-export": [0],
        "import/extensions": [0]
    }
}
